# *.json linguist-language=JSON
# *.jsontext linguist-language=JSON
*.json linguist-language=JavaScript
# *.xml linguist-language=XML  # not recognizing
# *.json linguist-language=JSON  # not recognizing
# *.postman_collection.json text  # not recognizing

